*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
}

body.dark {
    background: #222;
    color: #fff;
}

.contenedor{
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(8, 12, 206, 0.5) 0%, rgba(8, 12, 206, 0.5) 100%),url(../Img/WhatsApp\ Image\ 2022-03-16\ at\ 12.05.31\ PM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.Menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: rgba(255, 255, 255, 0);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg,#667eea 0%,#764ba2 100%); 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}
.swithDark {
    background-color: #0c10e400;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

/***********************DARK******************/

.swithDark span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;

}
.swithDark::after {
    display: block;
    background: #0c10e4; 
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5 ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}
.swithDark.active {
    background: rgba(0, 0, 0, 0);
}
.swithDark.active::after {
    left: unset;
    right: 0;
}

/***********************DARK******************/

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}
.copy{
    font-weight: 300;
    font-size: 25px;
}

/*NUESTROS SERVICIOS*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #0c10e4;
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap ;
}
.contenedor-servicio img{
    width: 80%;
}
.checklist-servicio{
  display: flex;
    width: 45%;
}
.service {
    display: flex;
    margin-bottom: 20px;
    
        
}
.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%,#fbc2eb 100%);
    width: 30px;
    height: 30px; 
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
}
.proyectos {
    background: rgba(255, 255, 255, 0);
}

.contenedor-proyectos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.imagen-proyectos{
   
     width: 30%;
     display: block;
     margin-bottom: 15px;
     box-shadow: 0 0 6px rgba(0, 0, 0,.5);
     cursor: pointer;
}
.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show {
    transform: translate(0);
}
.agregar-imagen {
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage {
    transform: scale(1);

}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
.experts{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-wrap: wrap; */
}
.cont-expert{
    display: block;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-expert img {

    width: 100%;
    display: flex;
    margin: auto;
}
.n-expert{
    
    display: inline-block;
    margin-top: 20px;
    width:100%;
    font-weight: 800;
}

/* Footer */

footer {
    background: #9f8ad0;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contacts-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;

    }
    .contenedor-servicio{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio{
        width: 80%;

    }
    .service{
        margin-bottom: 40px;
    }
    .img-gallery{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
        
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }
    .contacts-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }


@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }
    .Menu{
        top: 20px;
        right:  20px;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo {
        font-size: 30px;
    }
    .img-gallery{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
    .contacts-us{
        width: 90%;
    }
}
}